// Core variables and mixins
@import "variables";
@import "mixins";
@import "modal";

.footer{
	background-image:url(images/bottom-bg.jpg);
	height:300px;
	.message{
		padding:40px 0 40px 90px;
		.coyright{
			margin-top: 30px;
			color: #999999;
		}

	}
	.introduce{
		width: 600px;
		.col-5{
			float: left; 
			width:20%;
		}
		.col-4{
			float: left;
			width: 25%;
		}
		.col-3{
			float: left;
			width: 33.33%;
		}
		h5{
			margin: 0 0 10px 0;
			font-size: 12px;
			color: #fff;
		}
		li{
			margin:5px 0;
		}
	}
}


.contact{
	position: fixed;
	right:0;
	top:40%;
	padding: 0 20px;
	width:55px;
	height:135px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	background-color:$brand;
	a{
		color: #fff;
		font-size: 23px;
		&:hover{
			color: #fff;
		}
	}
}